.grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px;
}
/*@media screen and (min-width: 800px) {
    .grid {
        grid-template-columns: 2fr repeat(2, 1fr);
    }
}*/
.item {
    height: 100px;
    width: 100px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
}